div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("cat_pic.avif");
    background-size: auto;
}
#box3{
    background-image: url("bird_pic.avif")
}
