h1{
    color: blue;
}
p{
    color:brown;
}
button{
    color:crimson;
}
body {
    background-color:#EF8A17
}
button{
    color:rgb(228, 14, 50);
    background-color:#ffff00;
}
#a1{
    color: blueviolet;
}
#a2{
    color: green;
}
.a1{
    color: rgb(108, 6, 108);
}