div{
    height: 150px;
    width: 350px;
    background-color: aquamarine;
    border: 2px dotted black;
    position:absolute;
    top: 100px;
    left:100px;
    /* animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
    animation: colorAnimate 2s ease-in 1s infinite normal;
}
@keyframes colorAnimate {
    0%{ left:0px; 
        background-color: aquamarine
    }
    50%{
        background-color: blue;
        font-style: oblique;
    }
    100%{left:200px; 
        backgroun-color: red}
}

/* div:hover{

} */

/* div:active {
    background-color: chartreuse;
} */