.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid green;
    border-top: 20px solid black;
    background-color: rgb(27, 49, 116);
    animation: spinAnimates 1s ease-in-out 0s infinite;
}

@keyframes spinAnimates{
    from {
        transition: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}